.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 6rem;
    width: 100vw;
    background: #00000010;
    opacity: 0.9;
    user-select: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo svg {
    width: 2.6rem;
    stroke: #ed3e63;
    stroke-width: 2px;
    fill: none;
}

.title {
    font-weight: 100;
    padding: 0 0 0.15em 0.1em;
    color: #ed3e63;
}
.title span {
    font-weight: 700;
}

.searchBar {
    flex-basis: 26rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
}

.input {
    width: 100%;
    height: 100%;
    padding:  0.3em 0 0 0.5em;
    font-size: 0.9rem;
    font-weight: normal;
    color: #00000090;
    outline: 0;
    border: 0;
    border-radius: 3px 0 0 3px;
}

.input::-ms-clear,
.input::-ms-reveal{
    display:none;
}
.input::-webkit-search-decoration,
.input::-webkit-search-cancel-button,
.input::-webkit-search-results-button,
.input::-webkit-search-results-decoration{
    display:none;
}

.button {
    background-color: #ffffff;
    outline: 0;
    height: 100%;
    outline: 0;
    border: 0;
    border-left: 1px solid #00000020;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.button svg {
    height: 100%;
    padding: 0.3em 0.7em;
    fill: #00000050;
    transition: 1s;
}
.button:hover svg {
    fill: #ed3e63;
}

@media (max-width: 425px) {
    .searchBar {
        flex-basis: 22rem;
    }
}