.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 2em 0 0 0;
}

.thumb img {
    width: 18rem
}

.meta {
    width: 18rem; height: 7rem;
}

.desc .text {
    font-size: 0.8rem;
}