.header {
    width: 100%; height: 5rem;
    position: relative;
    background-color: cadetblue;
}

.logo {
    line-height: 5rem;
    margin: 0 0 0 5rem;
}

.schform {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.schbar {
    width: 25rem; height: 2rem;
    border: 0; outline: none;
    float: left;
}

.schbtn {
    width: 5rem; height: 2rem;
    border: 0; outline: none;
    float: left;
}