* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    cursor: default;
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 9px;
    }
}
